<!-- Cabeçalho da página com os logotipos -->
    <header>
        <div id="topo-header"> <!-- Container para as três logos alinhadas -->
            <div>
                <img src="../images/cps.png" alt="Logo do Centro Paula Souza" class="logo-header"> <!-- Logotipo da CPS -->
            </div>
            <div>
                <img src="../images/fatec-jac.png" alt="Logo da Fatec de Jacareí" class="logo-header"> <!-- Logotipo da Fatec -->
            </div>
            <div>
                <img src="../images/govsp.png" alt="Logo do Governo de São Paulo" class="logo-header"> <!-- Logotipo do Governo de SP -->
            </div>
        </div>
        <div class="linha"> </div> <!-- Linha branca separadora -->

        <!-- Navegação principal da página -->
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li> <!-- Link para página inicial -->
                <li><a href="pages/ConsultaProfessor.html">Professores</a></li> <!-- Link para página de professores -->
                <li><a href="pages/Salas.html">Salas</a></li> 
                <li class="secretaria-nav"><a href="../index.html">Sair da Secretaria</a></li> <!-- Link alinhado à direita -->
            </ul>
        </nav>
        <div class="linha"> </div> <!-- Linha branca separadora -->
    </header>