body {
    background-color: #80ADB6;
    font-family: sans-serif;
  }

#titulo1 {
  margin-top: 80px;
}

#selecionar-turma-form {
    width: 90%;
    align-items: center;
    background-color: #6C6B6B;
    display: flex;
    justify-content: center;
    border: solid 1px black;
    flex-direction: column;
    font-family: Helvetica;
    font-size: 24px;
    padding: 20px;
    margin: 0 auto;
}

.botao-exibir {
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.botao-exibir:hover {
    background-color: #b3b3b3;
    color: black;
}


  #profimg img {
    display: flex;
    width: 250px;
    height: 300px;
    margin-left: px;
  }

  #mateimg img {
    display: flex;
    width: 260px;
    height: 300px;
    margin-left: -14px;
  }

   #turmaimg img {
    display: flex;
    width: 260px;
    height: 300px;
    margin-left: -14px;
  }

  /* Container que mantém os dois botões lado a lado */
#fundobotao-container {
    display: flex;
    justify-content: center; /* Espaço entre os botões */
    gap: 180px;
}

/* Fundo do botão */
#fundobotao {
    display: flex;
    flex-direction: column; /* Os itens dentro do botão serão organizados na vertical */
    height: 318px;
    width: 245px; /* Largura do botão */
    background-color: white;
    margin-top: 120px;
    border: black solid 2px;
    border-radius: 10px;
}

/* Estilo para o botão */
#botao {
    display: flex;
    width: 100%; /* A largura é 100% do contêiner pai */
    height: 50px;
    margin-left: -2px;
    background-color: #6C6B6B;
    justify-content: center; /* Centraliza o botão dentro da div */
    align-items: center; /* Alinha verticalmente */
    border: black solid 2px;
}

/* Estilo do botão dentro da div */
#botao button {
    background-color: #6C6B6B;
    color: white;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
}

#exibicao-aulas {
    background-color: #d3d3d3; /* Cinza claro */
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

#aulas-container {
    margin-top: 20px;
    text-align: center;
}

.tabela-aulas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.tabela-aulas th, .tabela-aulas td {
    border: 1px solid #999;
    padding: 10px;
    background-color: #fff;
}

.tabela-aulas th {
    background-color: #bbb;
}

